<!DOCTYPE html>
<html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <h3>Find out the cheapest product!</h3>
    <hr>

    <form action="/search" method="POST">
		<input name="keyWord" type="text" placeholder="Search keyword...">
		<input type="submit">
	</form>
    <hr>

</div>


</html>